<div class="row">
  <div class="col-12 col-md-6 col-lg-6 col-xl-4 my-4">
    <app-statistics
      header="total profit"
      headerIconClass="fas fa-dollar-sign"
      headerColorClass="bg-success"
      value="$30000"
      valueColorClass="text-success"
      messageIconClass="fal fa-cloud-upload"
      messageIconColorClass="text-success"
      message="last 24 hours"
    ></app-statistics>
  </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-4 my-4">
    <app-statistics
      header="total loss"
      headerIconClass="fas fa-dollar-sign"
      headerColorClass="bg-rose"
      value="$10000"
      valueColorClass="text-danger"
      messageIconClass="fal fa-exclamation-circle"
      messageIconColorClass="text-danger"
      message="last 72 hours"
    ></app-statistics>
  </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-4 my-4">
    <app-statistics
      header="arrived orders"
      headerIconClass="fas fa-tachometer-alt"
      headerColorClass="bg-info"
      value="43%"
      valueColorClass="text-info"
      messageIconClass="fal fa-cloud-upload"
      messageIconColorClass="text-info"
      message="last 24 hours"
    ></app-statistics>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-lg-6">
    <app-pie-chart
      [chartValues]="chartValues"
      [chartLabels]="chartLabels"
      iconBgColor="bg-danger"
      miniMessage="last 24 hours"
      messageIconClass="fal fa-cloud-upload"
    ></app-pie-chart>
  </div>
</div>
