svg {
  height: 50px;

  .aaa {
    display: none;
  }
  .bbb {
    display: inline;
  }
  .ccc {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
  }
  .vvv {
    fill: none;
    stroke: #fff;
    stroke-width: 30;
    stroke-miterlimit: 10;
  }
  .ddd {
    fill: #fff;
  }
}
